.app{
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  padding: 15px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

td,th{
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th{
  background-color: #f2f2f2;
}

h1{
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: aquamarine;
}

input{
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button{
  padding: 10px;
  cursor: pointer;
  color: black;
  border: none;
}

button:hover{
 background-color: chocolate; 
}

.form-buttons{
  display:flex;
  gap: 10px;
}

.form-buttons button{
  width: 120px;
  text-align: center;
}